<h1> Procrastinators HeadQuarters </h1> 

<h2> Best handled with good music, a glass of something you like (milk?) </h2>

<h3> Instructions </h3>

<p> Options are: </p>
<ol>
	<li>
		I just want a task, and I will do it. Deal me a random task and let's move on. 
		 <%= link_to "Next", new_deck_path %>
	</li>
	
	<li> 
		Just give me fun tasks
		<button> <%= link_to "Next", "#" %></button>
	</li>
	<li> 
		I'm feeling social, give me people tasks
		<button> <%= link_to "Next", "#" %></button>
	</li>
	<li>
		I'm ready to take on the world, give me the difficult tasks 
		<button> <%= link_to "Next", "#" %></button>
	</li>
	<li>
		I'm really procrastinating, let's examine my mood. -- Head to the form below
	</li>
</ol> 
